@import './variables.scss';

@mixin btn1 {
    width: 10rem;
    height: 3rem;
    border-radius: 4px;
    border: none;
    background-color: $primary;
    font-size: 20px;
    color: $well;
    cursor: pointer;
    transition: all 0.2s ease-in-out ;
    &:hover {
        transform: scale(1.1);
        box-shadow: 4px 4px 4px;
    }
}

@mixin btn2 {
    width: 20rem;
    height: 3.5rem;
    border-radius: 4px;
    border: none;
    background-color: $primary;
    font-size: 22px;
    color: $well;
    cursor: pointer;
    transition: all 0.2s ease-in-out ;
    &:hover {
        transform: scale(1.1);
    }
}