/* Color Theme Swatches in Hex */
$accent: #5A6705;
$secondPrimary: #D49813;
$primary: #FDD05D;
$secondAccent: #AD8760;
$Linq-u--5-hex: #F7EADA;

/* Color Theme Swatches in RGBA */
$Linq-u--1-rgba: rgba(90,103,5, 1);
$Linq-u--2-rgba: rgba(212,152,19, 1);
$Linq-u--3-rgba: rgba(253,208,93, 1);
$Linq-u--4-rgba: rgba(173,135,96, 1);
$Linq-u--5-rgba: rgba(247,234,218, 1);

/* Color Theme Swatches in HSLA */
$Linq-u--1-hsla: hsla(67, 90, 21, 1);
$Linq-u--2-hsla: hsla(41, 83, 45, 1);
$Linq-u--3-hsla: hsla(43, 97, 67, 1);
$Linq-u--4-hsla: hsla(30, 31, 52, 1);
$Linq-u--5-hsla: hsla(33, 64, 91, 1);

/* Grey scale */
$rare: #fff;
$whiteSmoke: #f5f5f5;
$mediumRare: #d3d3d3;
$mediumWell: #808080;
$well: #484848;
$burnt: #121212;

/* Responsive Breakpoints */
$breakpoint-mobileSM: 320px;
$breakpoint-mobile: 425px;
$breakpoint-phablet: 550px;
$breakpoint-tablet: 750px;
$breakpoint-desktop: 1000px;
$breakpoint-desktopHD: 1200px;