@import '../../utils/styles/variables.scss';
@import '../../utils/styles/mixins.scss';

#about {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0 12rem;
	font-family: 'Roboto';
	// min-height: 100%;
	height: 100vh;
	.container-about {
		@include boxShadow(4);
		margin-top: 12rem;
		height: auto;
		line-height: 2rem;
		border-radius: 12px;
		padding: 0 3rem;
		h1 {
			font-family: 'Oswald';
			margin-top: 2rem;
			padding-bottom: 1rem;
			color: $secondPrimary;
			font-size: 44px;
		}
		p {
			font-size: 18px;
		}
	}
	.container-service {
		height: auto;
		h2 {
			margin-top: 3rem;
			font-family: 'Oswald';
			color: $secondPrimary;
		}
		.details {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			position: absolute;
			top: 65%;
			width: 100%;
			img {
				margin: 1.5rem 0;
			}
		}
		.card-title {
			font-size: 24px;
		}
	}
	.team {
		display: flex;
		flex-direction: column;
		position: relative;
		top: 50%;
		h1 {
			font-family: 'Oswald';
			color: $burnt;
			border-bottom: 5px solid $primary;
			width: 50px;
		}
		#person-one {
			display: flex;
			margin-top: 6.5rem;
			.photo {
				#one {
					@include photo();
				}
				#rectangle-one {
					@include backgroundBox();
					position: absolute;
					top: 24%;
					left: 5%;
				}
			}
			#name-one {
				font-family: 'Roboto';
				position: relative;
				top: 25%;
				left: 50%;
				width: 45%;
				h2 {
					font-size: 18px;
					color: $well;
				}
				h3 {
					font-size: 34px;
					margin-bottom: 2rem;
					color: $burnt;
				}
			}
		}
		#person-two {
			display: flex;
			padding-top: 20rem;
			.photo {
				#two {
					@include photo();
					margin-left: 60%;
					margin-bottom: 5rem;
				}
				#rectangle-two {
					@include backgroundBox();
					position: absolute;
					top: 85%;
					margin-left: 55%;
				}
			}
			#name-two {
				font-family: 'Roboto';
				position: relative;
				top: 55%;
				left: 45%;
				// width: 40%;
				h2 {
					font-size: 18px;
					color: $well;
				}
				h3 {
					font-size: 34px;
					margin-bottom: 2rem;
					color: $burnt;
				}
			}
		}
	}
}
