@import '../../utils/styles/variables.scss';
@import '../../utils/styles/mixins.scss';

#about {
	display: flex;
	flex-direction: column;
	margin: 0 12rem;
	height: 100vh;
	font-family: 'Roboto';
	.container-about {
		@include BoxShadow(4);
		position: relative;
		top: 20%;
		height: 50%;
		line-height: 2rem;
		border-radius: 12px;
		padding: 0 3rem;
		h1 {
			font-family: 'Oswald';
			margin-top: 2rem;
			padding-bottom: 1rem;
			color: $secondPrimary;
			font-size: 44px;
		}
		p {
			font-size: 18px;
		}
		h2 {
			font-family: 'Oswald';
			margin-top: 4rem;
			color: $secondPrimary;
		}
	}
	.container-service {
		.details {
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			position: absolute;
			top: 65%;
			width: 80%;
			img {
				margin: 1.5rem 0;
			}
		}
		.card-title {
			font-size: 24px;
		}
	}
	.team {
		position: relative;
		top: 65%;
		img {
			width: 35%;
			height: auto;
			border-radius: 12px;
			object-fit: contain;
			z-index: 0;
			overflow: hidden;
		}
	}
}
