@import '../../utils/styles/variables.scss';
@import '../../utils/styles/mixins.scss';

#contact {
	display: flex;
	flex-direction: column;
	margin: 0 12rem;
	font-family: 'Roboto';
	min-height: 100%;
	h1 {
		margin: 10rem 0 6rem 0;
		border-bottom: 5px solid $primary;
		width: 50px;
	}
	.md-form textarea.md-textarea {
		padding: 2.5rem 0;
	}
}
