@import '../../utils/styles/variables.scss';
@import '../../utils/styles/mixins.scss';

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    height: 35vh;
    background-color: $whiteSmoke;
    .block {
        display: flex;
        justify-content: space-between;
        justify-items: flex-start;
        color: $well;
        padding-top: 2rem;
        &__left {
            display: flex;
            flex-direction: column;
            h1 {
                font-size: 30px;
                color: $primary; 
            }
        }
        &__center {
            display: flex;
            justify-content: space-between;
            width: 35%;
            .detail {
                display: flex;
                flex-direction: column;
                h5 {
                    margin: 0.5rem 0;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        &__right {
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 20px;
                color: $well; 
            }
            .social-media {
                display: flex;
                justify-content: space-between;
                svg {
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    &:hover path{
                        fill: $secondPrimary;
                    }
                }
            }
            
        }
    }
    .terms {
        text-align: center;
        p {
            text-decoration: underline;
        }
    }
}